body{
  display: ;
}

.encabezado{
  display: flex;
  min-height: 70px;
  background-color: black;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.logotipo{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;

}
.titulo_logo {
  font-family: sans-serif;
  color:white;
  font-weight: 700;
  padding-top: 1vb;
}
body{
  font-family: sans-serif;
  background-color: gray
  ;
  margin: 0%;
}
:hover menu{
  background-color: blue;
}
.menu{
  display: flex;
  font-weight: 600;
  font-family: sans-serif;
  color:white;
  background-color: black;
  padding: 10px;
  justify-content: space-between;
}
.nav-link{
  background-color: black;
  color: white;
}
.carousel-inner{
  border: 7px solid black;
  margin: px;
  display: flex;
  background-color: black;
}
.carousel-inner{
 

}
.maquina{
  flex-basis: 33%;
  border:5px solid black;
  margin: ;
  padding: 10vh;
  background-image: url(https://png.pngtree.com/png-clipart/20190826/ourmid/pngtree-pattern-design-png-image_1540344.jpg)

}
.cuerpo1{
  background-color: black;
}
.img{
  flex-basis: 33%;
}

@media (max-width: 480px)
{
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px
  }
 
  .menutresrayas{
    display:inline

  }
}
@media (max-width: 485px){
  .nav-link{
    display: none;
  }
  #tresrayas{
    display: flex;
  }
  #tresrayas:hover{
    color:red
  }
  
  

}


