header{
  display: flex;
  min-height: 70px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;  
}
#tresrayas{
  display: none;
}
.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
#titulo_logo {
  color:white;
}
body{
  font-family: sans-serif;
  background-color: whitesmoke;
  margin: 0%;
}
a{
  text-decoration: none;
  color: white;
}
div a{
  font-weight: 600;
  padding-right: 20px;
}
div a:hover{
  color: red 
}
@media (max-width: 780px)
{
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px
  }
}
@media (max-width: 485px){
  div a{
    display: none;
  }
  #tresrayas{
    display: flex;
  }
  #tresrayas:hover{
    color:red
  }
  

}
.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400px;

  animation: cambio 20s infinite;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}
@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
 
  25% {margin-left: -100;}
  45% {margin-left: -100;}
 
  50% {margin-left: -200;}
  70% {margin-left: -200;}
 
  75% {margin-left: -300;}
  100% {margin-left: -300;}

}