header{
  display: flex;
  height: 70px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
#titular {color:yellow;}
#titulo_logo {color:white;}
body{
  font-family: sans-serif;
  background-color: grey;
  margin: 0%;
}

.sec{
  color:black
  display: flex;
  text-decoration: none;
}

